<section id="buttons">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-9 mx-auto text-center title-section wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
				<h2 class="title">Buttons</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-auto mx-auto wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
				<button type="button" class="btn btn-primary btn-lg">{{content.field_counter_value.0}}</button>
				<button type="button" class="btn btn-primary btn-md">{{content.field_facebook_url.0}}</button>
				<button type="button" class="btn btn-primary btn-sm">{{content.field_linkedin_url.0}}</button>
				<button type="button" class="btn btn-primary btn-xs">{{content.field_twitter_url.0}}</button>
			</div>
		</div>
	</div>
</section>