<section id="counter" class="banner" style="background-image:url({{ file_url(content.field_image['#items'].entity.uri.value) }})">
	<div class="container">
		<div class="row text-center wow fadeInDown" data-wow-delay="0.6s">
			{{content.field_counter_item}}
		</div>
	</div>
</section>