<section id="faq">
    <div class="container">
    {% if content.field_title.0 %}
		<div class="row">
			<div class="col-md-10 col-lg-9 mx-auto text-center title-section wow fadeInUp" data-wow-delay="0.2s">
			  <h2 class="title">{{content.field_title.0}}</h2>
			  {{content.field_body.0}}
			</div>
		</div>  
	{% endif %}	
        <div class="row wow fadeInDown" data-wow-delay="0.4s">
          <div class="col-md-10 col-lg-9 mx-auto">
          	{{content.field_faq}}
          </div>
        </div>
    </div>
</section>        
          