<section id="banner" class="banner" style="background-image:url({{ file_url(content.field_image['#items'].entity.uri.value) }})">
    <div class="container">
      <div class="row banner-content"> 
        <div class="col-md-8 mx-auto text-center">           
          <h1 class="animated fadeInLeftBig">{{content.field_title.0}}</h1>
          <ul class="animated fadeInRightBig">
            <li><a href="index.html">Home</a><i class="fa fa-angle-right mx-2"></i></li>
            <li>{{content.field_title.0}}</li>
          </ul>
         </div> 
      </div>
    </div>
  </section>