 <section id="testimonial">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-8 mx-auto">
          <div class="testimonial-carousel text-center wow fadeInDown" data-wow-delay="0.4s">
          {{content.field_testimonial_item}}
          </div>
        </div>
       </div>
    </div>
</section>          