<section id="lists">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-9 mx-auto text-center title-section wow fadeInUp" data-wow-delay="0.2s">
          <h2 class="title">{{content.field_title.0}}</h2>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12 col-lg-6 wow fadeInLeft style-one" data-wow-delay="0.3s">
          {{content.field_body.0}}
        </div>
        <div class="col-md-12 col-lg-6 wow fadeInRight style-two" data-wow-delay="0.5s">
          {{content.field_description.0}}
        </div>
      </div>
    </div>
  </section>