<section id="careers">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-9 mx-auto text-center title-section wow fadeInUp" data-wow-delay="0.2s">
          <h2 class="title">{{content.field_title.0}}</h2>
          {{content.field_description.0}}
        </div>
      </div>
      <div class="careers-info wow fadeInDown" data-wow-delay="0.4s">
        <div class="row careers-heading">
          <div class="col-md-7 col-lg-6 col-sm-12 col-xs-12 text-center">
            <div class="careers-item">
              <label>Job Details</label>
            </div>
          </div>
          <div class="col-md-2 col-lg-3 col-sm-12 col-xs-12 salary text-center">
            <label>Salary</label>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 apply-btn text-center">
            <label>Apply</label>
          </div>
        </div>
        {{content.field_career_list}}
        </div>
        </div>

        </section>
