<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" href="#collapse{{content.field_random.0}}">
      <span><i class="fas fa-question"></i></span>
      <h4>{{content.field_title.0}}</h4>
    </a>
  </div>
  <div id="collapse{{content.field_random.0}}" class="panel-collapse collapse">
    <div class="panel-body">{{content.field_body.0}}</div>
  </div>
</div>
