/*slider*/
/*--------------------------------------------------------------
#0.4    hero slider
--------------------------------------------------------------*/
.hero {
  position: relative;
  height: 100vh;
  /** slider controls **/
  /*** pagi info ***/
  /*** social-links ***/
  /*** hero slider animation ***/
}

@media (max-width: 767px) {
  .hero {
    min-height: 420px;
  }
}

.hero .slide {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 767px) {
  .hero .slide {
    min-height: 420px;
  }
}

.hero .slide .slider-bg {
  display: none;
}

.hero .slide:focus {
  outline: none;
}

.hero .slide .slider-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero .slide .container {
  height: 100%;
  display: table;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .hero .slide .container {
    padding: 0;
  }
}

.hero .slide .row {
  display: table-cell;
  vertical-align: middle;
}

.hero .slick-prev,
.hero .slick-next {
  background-color: #cee002;
  width: 45px;
  height: 45px;
  z-index: 10;
}

.hero .slick-prev {
  left: 0;
}

.hero .slick-prev:before {
  font-family: "themify";
  content: "\e629";
  opacity: 1;
}

.hero .slick-next {
  right: 0;
}

.hero .slick-next:before {
  font-family: "themify";
  content: "\e628";
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .hero .slick-dots {
    width: auto;
    position: absolute;
    right: 45px;
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .hero .slick-dots {
    right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .hero .slick-dots:before, .hero .slick-dots:after {
    content: "";
    width: 1px;
    height: 50px;
    background: rgba(125, 125, 125, 0.4);
    position: absolute;
    left: 5px;
  }
  .hero .slick-dots:before {
    top: -70px;
  }
  .hero .slick-dots:after {
    bottom: -50px;
  }
  .hero .slick-dots li {
    height: 28px;
    float: none;
    display: block;
    margin: 0;
  }
  .hero .slick-dots button {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 4px;
  }
  .hero .slick-dots li.slick-active button {
    background-color: #cee002;
    border-color: #cee002;
  }
  .hero .slick-dots button:before,
  .hero .slick-dots button:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero .slick-dots {
    bottom: 30px;
  }
  .hero .slick-dots li {
    margin: 0;
  }
  .hero .slick-dots button {
    background-color: transparent;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .hero .slick-dots li.slick-active button {
    background-color: #cee002;
    border-color: #cee002;
  }
  .hero .slick-dots button:before,
  .hero .slick-dots button:before {
    display: none;
  }
}

.hero .pagi-info {
  font-family: "Oswald", sans-serif;
  width: 100%;
  font-size: 24px;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 50px;
}

@media (max-width: 991px) {
  .hero .pagi-info {
    font-size: 20px;
    font-size: 1.33333rem;
  }
}

@media (max-width: 767px) {
  .hero .pagi-info {
    display: none;
  }
}

.hero .social-links {
  width: auto;
  position: absolute;
  left: 45px;
  bottom: auto;
  top: calc(50% + 100px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 1300px) {
  .hero .social-links {
    left: 25px;
  }
}

@media (max-width: 850px) {
  .hero .social-links {
    display: none;
  }
}

.hero .social-links:before {
  content: "";
  width: 1px;
  height: 50px;
  background: rgba(125, 125, 125, 0.4);
  position: absolute;
  left: 8px;
  top: -70px;
}

.hero .social-links:after {
  font-family: "Oswald", sans-serif;
  color: #888;
  content: "SOCIAL";
  position: absolute;
  left: -28px;
  top: -135px;
  letter-spacing: 5px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.hero .social-links ul {
  list-style: none;
}

.hero .social-links ul > li + li {
  margin-top: 10px;
}

.hero .social-links li a {
  font-size: 14px;
  font-size: 0.93333rem;
  color: #fff;
}

.hero .social-links li a:hover {
  color: #cee002;
}

.hero .slide-caption > div {
  overflow: hidden;
}

.hero .slide-caption > div * {
  -webkit-animation: fadeOutLeft 1.5s both;
  animation: fadeOutLeft 1.5s both;
}

.hero .slide-caption > div.slide-title * {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.hero .slide-caption > div.slide-subtitle * {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.hero .slide-caption > div.btns * {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.hero .slider .slick-current .slide-caption > div * {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.hero .slider .slick-current .slide-caption > div.slide-title * {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.hero .slider .slick-current .slide-caption > div.slide-subtitle * {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.hero .slider .slick-current .slide-caption > div.btns * {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.hero .slider .slick-current .slider-image {
  -webkit-animation: kenburn 25s 2s alternate infinite;
  -animation: kenburn 25s 2s alternate infinite;
}

/*************************************
    hero-style-1
***************************************/
.hero-style-1, .hero-style-2, .hero-style-3 {
  height: calc(100vh - 110px);
  min-height: 700px;
}

@media (max-width: 991px) {
  .hero-style-1, .hero-style-2, .hero-style-3 {
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style-1, .hero-style-2, .hero-style-3 {
    height: calc(100vh - 86px);
    min-height: 480px;
  }
}

.hero-style-1 .slide, .hero-style-2 .slide, .hero-style-3 .slide {
  height: calc(100vh - 110px);
  min-height: 700px;
  position: relative;
}

@media (max-width: 991px) {
  .hero-style-1 .slide, .hero-style-2 .slide, .hero-style-3 .slide {
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style-1 .slide, .hero-style-2 .slide, .hero-style-3 .slide {
    height: calc(100vh - 86px);
    min-height: 480px;
  }
}

.hero-style-1 .slide:before, .hero-style-2 .slide:before, .hero-style-3 .slide:before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, #000 60%, #cee002);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #000), to(#cee002));
  background: -o-linear-gradient(top, #000 60%, #cee002);
  background: linear-gradient(top, #000 60%, #cee002);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: 1;
}

.hero-style-1 .slide-subtitle h4, .hero-style-2 .slide-subtitle h4, .hero-style-3 .slide-subtitle h4 {
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  margin: 0;
  padding-left: 85px;
  position: relative;
}

@media (max-width: 991px) {
  .hero-style-1 .slide-subtitle h4, .hero-style-2 .slide-subtitle h4, .hero-style-3 .slide-subtitle h4 {
    font-size: 16px;
    font-size: 1.06667rem;
  }
}

@media (max-width: 767px) {
  .hero-style-1 .slide-subtitle h4, .hero-style-2 .slide-subtitle h4, .hero-style-3 .slide-subtitle h4 {
    font-size: 14px;
    font-size: 0.93333rem;
    padding-left: 45px;
    letter-spacing: 4px;
  }
}

.hero-style-1 .slide-subtitle h4:before, .hero-style-2 .slide-subtitle h4:before, .hero-style-3 .slide-subtitle h4:before {
  content: "";
  background-color: #fff;
  width: 60px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 10px;
}

@media (max-width: 767px) {
  .hero-style-1 .slide-subtitle h4:before, .hero-style-2 .slide-subtitle h4:before, .hero-style-3 .slide-subtitle h4:before {
    width: 30px;
  }
}

.hero-style-1 .slide-title h2, .hero-style-2 .slide-title h2, .hero-style-3 .slide-title h2 {
  font-size: 70px;
  font-size: 4.66667rem;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #fff;
  margin: 0.6em 0 0.78em;
}

@media (max-width: 1199px) {
  .hero-style-1 .slide-title h2, .hero-style-2 .slide-title h2, .hero-style-3 .slide-title h2 {
    font-size: 60px;
    font-size: 4rem;
  }
}

@media (max-width: 991px) {
  .hero-style-1 .slide-title h2, .hero-style-2 .slide-title h2, .hero-style-3 .slide-title h2 {
    font-size: 50px;
    font-size: 3.33333rem;
  }
}

@media (max-width: 767px) {
  .hero-style-1 .slide-title h2, .hero-style-2 .slide-title h2, .hero-style-3 .slide-title h2 {
    font-size: 40px;
    font-size: 2.66667rem;
  }
}

/*************************************
    hero-style-2
***************************************/
.hero-style-2, .hero-style-3 {
  text-align: center;
  height: calc(100vh - 155px);
  min-height: 700px;
}

@media (max-width: 991px) {
  .hero-style-2, .hero-style-3 {
    height: calc(100vh - 176px);
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style-2, .hero-style-3 {
    height: 100vh;
    min-height: 480px;
  }
}

.hero-style-2 .slide, .hero-style-3 .slide {
  height: calc(100vh - 155px);
  min-height: 700px;
}

@media (max-width: 991px) {
  .hero-style-2 .slide, .hero-style-3 .slide {
    height: calc(100vh - 176px);
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style-2 .slide, .hero-style-3 .slide {
    height: 100vh;
    min-height: 480px;
  }
}

.hero-style-2 .slide-subtitle h4, .hero-style-3 .slide-subtitle h4 {
  padding-left: 0;
}

.hero-style-2 .slide-subtitle h4:before, .hero-style-3 .slide-subtitle h4:before {
  display: none;
}

/*************************************
    hero-style-2
***************************************/
.hero-style-3 {
  text-align: center;
  height: 100vh;
  min-height: 700px;
}

@media (max-width: 991px) {
  .hero-style-3 {
    height: calc(100vh - 176px);
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style-3 {
    height: 100vh;
    min-height: 480px;
  }
}

.hero-style-3 .slide {
  height: 100vh;
  min-height: 700px;
}

@media (max-width: 991px) {
  .hero-style-3 .slide {
    height: calc(100vh - 176px);
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style-3 .slide {
    height: 100vh;
    min-height: 480px;
  }
}

@media screen and (min-width: 992px) {
  .hero-style-3 .slide-caption {
    margin-top: 80px;
  }
}

@-webkit-keyframes kenburn {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
}

@keyframes kenburn {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
}